node_modules/
out/
/dist/
*.vsix
/package.nls.*.json
/src/util/debug.shouldignore.ts
/scripts/*
!/scripts/*.js
/profiles/*.json
!/scripts/profile-worldmap-render.ts
/static/
/prod/
/.vscode-test
Plan.md
.vscode-test-web
.github
.github/*
!.github/workflows
!.github/*.yml
